<body>

<div  class="fh5co-section-gray">
			<div class="container">

					<div class=" text-center  heading-section ">
					<span></span>
						<h3>Najpovoljniji rent a car servisi &amp; najbolja ponuda automobila</h3>
						<p>Pretražite ponude i otkrijte iskustva širom sveta,od malih i praktičnih do luksuznih i komfornih automobila</p>
					</div>
				
	</div>
	</div>

 <div class="fh5co-hero">
	<div class="fh5co-overlay"></div>
	<div class="fh5co-cover"data-stellar-background-ratio="0.5"
		style="background-image: url(assets/images/pic.png);"
		>
	
			
				
				<div class="row row-bottom-padded-md">
					<div  *ngFor= 'let r of rentalcars$' >
						<div class="row-md-4 row-sm-6 fh5co-tours animate-box"
							data-animate-effect="fadeIn">
							<div href="profil">
								<img src="assets/images/box.png"  width="400" height="300">
								<div class="desc">
									<span></span>
									<h3>{{r.name}}</h3>
									<h3>{{r.description}}</h3>
									<span>{{r.adress}}</span> <a
                     (click)="onClickCompanyDetails(r)"	class="btn btn-primary btn-outline" >Detaljnije <i
                  ></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>

</div>
</div>
	
</body>


