<div class="fh5co-hero">
	<div class="fh5co-overlay"></div>
	<div class="fh5co-cover" data-stellar-background-ratio="0.5"
		style="background-image: url(assets/images/car1.jpg);">			
		<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<span></span>
						<h3>Najpovoljniji rent a car servisi &amp; najbolja ponuda automobila</h3>
						<p>Pretražite ponude i otkrijte iskustva širom sveta,od malih i praktičnih do luksuznih i komfornih automobila</p>
					    					    
					    <span class="hidden-xs" id="changeButton"><a  class="btn btn-primary btn-outline" (click)="sortClick()">SORTIRANJE</a></span>    					
				        <span class="hidden-xs" id="changeButton"><a  class="btn btn-primary btn-outline" (click)="searchClick()">PRETRAGA</a></span>    					
						<span class="hidden-xs" id="addFillButton" [hidden]="nocarAdmin"><a class="btn btn-primary btn-outline"  (click)="addServiceClick()">Dodaj servis</a></span>
									
					</div>
					
					<div class="col-xs-6" id = "addServiceDiv" hidden="true">
		              	<div class="box box-primary">
			            <div class="box-header with-border ">
			              <h3 class="box-title">Dodaj novi servis</h3>
			            </div>
			            <!-- /.box-header -->
			            <div class="box-body no-padding">
			            
			              <div class="form-group">
			                <input type="text" class="form-control" placeholder="Unesite naziv.." value='newService.name' [(ngModel)]="newService.name">
			              </div>
			              <div class="form-group">
			                <input type="text" class="form-control" placeholder="Unesite adresu.." value='newService.adress' [(ngModel)]="newService.adress" >
			              </div>
			              <div class="form-group">
			                <input type="text" class="form-control" placeholder="Unesite grad.." value='newService.city' [(ngModel)]="newService.city" >
			              </div>
			              <div class="form-group">
			                <input type="text" class="form-control" placeholder="Unesite opis.." value='newService.description' [(ngModel)]="newService.description" >
			              </div>
			              <div class="form-group">
			                <input type="text" class="form-control" placeholder="Unesite prosecnu ocenu.." value='newService.average_rating' [(ngModel)]="newService.average_rating" >
			              </div>
			           
			              
			            </div>
			            <!-- /.box-body -->
			            <div class="box-footer">
			              <div class="pull-right">
			                <button type="submit" class="btn btn-primary" (click)="finalAddClick(newService)" ><i class="fa fa-envelope-o" ></i> Potvrdi</button>
			              	<button type="reset" class="btn btn-default" (click)="discardClick()"><i class="fa fa-times" ></i> Odustani</button>
			              	
			              </div>
			              <br/>
			            </div>
			            <!-- /.box-footer -->
			          </div>
              		</div> 
					
					<div class="col-xs-6" id = "sortDiv" hidden="true">
		              	<div class="box box-primary">
			            <!-- /.box-header -->
			            <div class="box-body no-padding">
			            
			              <div class="form-group">
 							<select name="sortItem" id="sortItem" [(ngModel)]="sortForm.sortItem" class="form-control"  required>
                   			<option value="name">Naziv</option>
                   			<option value="adress">Adresa</option>
                   			<option value="rate">Ocena</option>
               				</select> 
               			  </div>
			              <div class="form-group">
							<select name="sortType" id="sortType" [(ngModel)]="sortForm.sortType" class="form-control" required >
                          	<option value="ascending">ascending</option>
                            <option value="descending">descending</option>
                     	    </select> 			              </div>
			       
			              
			            </div>
			            <!-- /.box-body -->
			            <div class="box-footer">
			              <div class="pull-right">
			                			<div class="col-md-1" *ngIf="sortForm.sortItem == undefined || sortForm.sortType == undefined">
           <div class="form-btn">
           	 <button type="button"  (click)="sortServices()" class="btn  btn-lg" disabled>Sort</button>
           </div>
      </div>
      <div class="col-md-8" *ngIf="sortForm.sortItem != undefined && sortForm.sortType != undefined">
           <div class="form-btn">
                <button type="button" (click)="sortServices()" class="btn btn-primary">Sort</button>
       </div>              	
			              </div>
			            </div>
			            <!-- /.box-footer -->
			          </div>
              		</div> 
					
		</div>
		
		
		
				
				<!-- Div za pretragu -->
				
<div class="row" id = "searchDiv" hidden="true">
	<div class="col-xs-12">

      <!-- SELECT2 EXAMPLE -->
      <div class="box box-default">
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
              <label>Unesite lokaciju:</label>
                  <input  class="form-control" id="exampleInputEmail1" placeholder="Lokacija..." [(ngModel)]="searchFormServices.city" #city="ngModel" name="city" type="text">
             	  <span id="errorCity"></span>
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                <label>Datum dolaska:</label>
                 <div class="input-group">
	                    <span class="input-group-addon"> <i class="glyphicon glyphicon-calendar"></i></span>
	                    <input class="form-control" type="date" required="required" data-placeholder="Check in" [(ngModel)]="searchFormServices.startDate" #startDate="ngModel" name="startDate" >
	                    <span id="errorStart"></span>                    
	            </div>
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
            <div class="col-md-6">
            <label>Unesite naziv servisa:</label>
             <div class="form-group">
                  <input  class="form-control" id="exampleInputEmail1" placeholder="Naziv servisa..." [(ngModel)]="searchFormServices.name" #name="ngModel" name="name" type="text">
	         </div>
              <!-- /.form-group -->
              <div class="form-group">
               <label>Datum odlaska:</label>
                <div class="input-group">
                		 
	                      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
	                      <input class="form-control" type="date" name="endDate" required="required"   [(ngModel)]="searchFormServices.endDate" #endDate="ngModel" name="endDate" data-placeholder="Check out">
	                      <span id="errorEnd"></span>
	                </div>
              </div>
              <!-- /.form-group -->
            </div>


            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
      
      
	</div>
  </div> 
    <div class="col-xs-12">
        <button type="button" id="pomeri" class="btn btn-primary btn-block" (click)="pretraga()">Pretraga</button>
			<br/>
			<br/>
		</div>
</div>		
				
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
					</div>
				</div>
				
				<div class="row row-bottom-padded-md" >
					<div  *ngFor= 'let r of sviServisi' >
						<div >
							<div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
								<div class="hotel-box">
								<img src="assets/images/box.png"  width="400" height="300">
									<div class="desc">
										<span></span>
										<h3>{{r.name}}</h3>
									    <h4>{{r.description}}</h4>
									    <span>{{r.city}}</span>
									    <span>{{r.average_rating}}</span>
									    <span><a (click)="onClickCompanyDetails(r)" class="btn btn-primary btn-outline">Detaljnije</a></span>				
                                        <!--  span><a (click)="discountedCars(r)" class="btn btn-primary btn-outline" >Popust<i></i></a></span-->																	
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		</div>