<div class="fh5co-hero">
  <div class="fh5co-overlay"></div>
  <div class="novo">
  <mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup" >
      <form  >
        <ng-template matStepLabel >Izaberite sjediste</ng-template>
        <div>
          <!--<input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>-->

          <br><br>
          <div class="row ">
            <div class="col-sm-3" style="text-align: center">
              <button style="background-color: #83ff85">Ekonomska klasa</button>
            </div>
            <div class="col-sm-3" style="text-align: center">
              <button style="background-color: #2e6da4">Premijum ekonomska</button>
            </div>
            <div class="col-sm-3" style="text-align: center">
              <button style="background-color: #1bd0ed">Biznis klasa</button>
            </div>
            <div class="col-sm-3" style="text-align: center">
              <button style="background-color: darkgray">Prva klasa</button>
            </div>
          </div>
          <div class="row ">
            <div class=" col-sm-3">
              <mat-checkbox style="background-color: darkseagreen" disabled=true ></mat-checkbox>
              <label>Available</label>
            </div>
            <div class=" col-sm-3">
              <mat-checkbox disabled=true style="background-color: coral"></mat-checkbox>
              <label >Reserved</label>
            </div>
            <div class=" col-sm-3">
              <mat-checkbox  disabled=true style="background-color: crimson"></mat-checkbox>
              <label>Taken</label>
            </div>
          </div>

          <table class="table">
            <tbody>
            <tr *ngFor="let row of seatsInRows" style="row-gap: 10px">
              <td *ngFor="let seat of row">
                <div *ngIf="seat.seatClass === 'ECONOMY'" style="background-color: #83ff85">
                  <mat-checkbox *ngIf="seat.state === 'free'" style="background-color: darkseagreen" (change)="seatSelected(seat)"></mat-checkbox>
                  <mat-checkbox *ngIf="seat.state === 'reserved'" disabled=true style="background-color: coral" (change)="seatSelected(seat)"></mat-checkbox>
                  <mat-checkbox *ngIf="seat.state === 'taken'" disabled=true style="background-color: crimson" (change)="seatSelected(seat)"></mat-checkbox>
                </div>
                <div *ngIf="seat.seatClass === 'PREMIUM_ECONOMY'" style="background-color: #2e6da4">
                  <mat-checkbox *ngIf="seat.state === 'free'" style="background-color: darkseagreen" (change)="seatSelected(seat)"></mat-checkbox>
                  <mat-checkbox *ngIf="seat.state === 'reserved'" disabled=true style="background-color: coral" (change)="seatSelected(seat)"></mat-checkbox>
                  <mat-checkbox *ngIf="seat.state === 'taken'" disabled=true style="background-color: crimson" (change)="seatSelected(seat)"></mat-checkbox>
                </div>
                <div *ngIf="seat.seatClass === 'BUSINESS'" style="background-color: #1bd0ed">
                  <mat-checkbox *ngIf="seat.state === 'free'" style="background-color: darkseagreen" (change)="seatSelected(seat)"></mat-checkbox>
                  <mat-checkbox *ngIf="seat.state === 'reserved'" disabled=true style="background-color: coral" (change)="seatSelected(seat)"></mat-checkbox>
                  <mat-checkbox *ngIf="seat.state === 'taken'" disabled=true style="background-color: crimson" (change)="seatSelected(seat)"></mat-checkbox>
                </div>
                <div *ngIf="seat.seatClass === 'FIRST'" style="background-color: darkgray">
                  <mat-checkbox *ngIf="seat.state === 'free'" style="background-color: darkseagreen" (change)="seatSelected(seat)"></mat-checkbox>
                  <mat-checkbox *ngIf="seat.state === 'reserved'" disabled=true style="background-color: coral" (change)="seatSelected(seat)"></mat-checkbox>
                  <mat-checkbox *ngIf="seat.state === 'taken'" disabled=true style="background-color: crimson" (change)="seatSelected(seat)"></mat-checkbox>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="pull-right">
          <button type="button" matStepperNext class="btn btn-outline-primary">Naprijed</button>
        </div>
      </form>
    </mat-step>


    <mat-step [stepControl]="secondFormGroup">
      <form >
        <ng-template matStepLabel>Pozovi prijatelja</ng-template>
        <div>
          <div>
            <h5  *ngIf="selectedSeats?.length > 1 && selectedSeats?.length - 1 > invitedFriends?.length">Invite friend</h5>
            <h5  *ngIf="selectedSeats?.length <= 1 && selectedSeats?.length - 1 <= invitedFriends?.length">You have not selected enough seats to invite friends</h5>

            <div class="list-group">
              <a *ngFor="let f of friends; index as i" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{f['name']}} {{f['lastName']}}</h5>
                  <!--<small>{{airline.name}}</small>-->
                </div>
                <br>
                <div class="pull-right">
                  <button class="btn btn-outline-primary" (click)="inviteFriend(f, i)" *ngIf="selectedSeats?.length > 1 && selectedSeats?.length - 1 > invitedFriends?.length">Invite friend</button>
                </div>
              </a>
            </div>
          </div>
          <label *ngIf="friends?.length < 1">Niste dodali nijednog prijatelja</label>
        </div>
        <div class="pull-right">
          <button class="btn btn-outline-primary" matStepperPrevious>Nazad</button>
          <button class="btn btn-outline-primary" matStepperNext>Naprijed</button>
        </div>
      </form>
    </mat-step>


    <mat-step>
      <ng-template matStepLabel>Informacije o putnicima</ng-template>
      <div>

        <div *ngIf="selectedSeats?.length === 0">
          <label class="h4 text-lg-center">Niste selektovali nijedno mjesto</label>
        </div>

        <div *ngFor="let passenger of flightReservation.passengersOnSeats; index as i">
          <h6>Putnik {{i + 1}}</h6>
          <div>
            <div *ngIf="passenger.passengerId === 0">
              <div>
                <label class="col-sm-3">Ime:</label>
                <input class="col-sm-3" type="text" placeholder="Unesite ime putnika" [(ngModel)]="passenger.passengerName">
              </div>
              <div>
                <label class="col-sm-3">Prezime:</label>
                <input class="col-sm-3" type="text" placeholder="Unesite prezime putnika" [(ngModel)]="passenger.passengerLastName">
              </div>
              <div>
                <label class="col-sm-3">Pasos:</label>
                <input class="col-sm-3" type="text" placeholder="Unesite broj pasosa" [(ngModel)]="passenger.passengerPassport">
              </div>
            </div>
            <div *ngIf="passenger.passengerId !== 0">
              <div>
                <label class="col-sm-3">Ime:</label>
                <input class="col-sm-3" type="text" placeholder="Unesite ime putnika" [(ngModel)]="passenger.passengerName" readonly>
              </div>
              <div>
                <label class="col-sm-3">Prezime:</label>
                <input class="col-sm-3" type="text" placeholder="Unesite prezime putnika" [(ngModel)]="passenger.passengerLastName" readonly>
              </div>
              <div>
                <label class="col-sm-3">Pasos:</label>
                <input class="col-sm-3" type="text" placeholder="Unesite broj pasosa" [(ngModel)]="passenger.passengerPassport">
              </div>
            </div>
            <hr>
          </div>
        </div>

      </div>

      <div class="pull-right">
        <button class="btn btn-outline-primary" matStepperPrevious>Nazad</button>
        <button class="btn btn-outline-primary" matStepperNext>Naprijed</button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Rezervacija vozila i hotela</ng-template>
      <div>
        <div class="row" id = "searchDiv" >
          <div class="col-xs-12">

            <!-- SELECT2 EXAMPLE -->
            <div class="box box-default">
              <!-- /.box-header -->
              <div class="box-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Unesite lokaciju:</label>
                      <input  class="form-control" id="exampleInputEmail1" placeholder="Lokacija..." [(ngModel)]="searchFormServices.city" #city="ngModel" name="city" type="text">
                      <span id="errorCity"></span>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                      <label>Datum dolaska:</label>
                      <div class="input-group">
                        <span class="input-group-addon"> <i class="glyphicon glyphicon-calendar"></i></span>
                        <input class="form-control" type="date" required="required" data-placeholder="Check in" [(ngModel)]="searchFormServices.startDate" #startDate="ngModel" name="startDate" >
                        <span id="errorStart"></span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Unesite naziv hotela:</label>
                      <input  class="form-control" id="exampleInputEmail1" placeholder="Lokacija..." [(ngModel)]="searchFormServices.nameHotel" #nameHotel="ngModel" name="nameHotel" type="text">
                      <span id="errorCity"></span>
                    </div>
                    <!-- /.form-group -->
                  </div>
                  <!-- /.col -->
                  <div class="col-md-6">
                    <label>Unesite naziv servisa:</label>
                    <div class="form-group">
                      <input  class="form-control" id="exampleInputEmail1" placeholder="Naziv servisa..." [(ngModel)]="searchFormServices.name" #name="ngModel" name="name" type="text">
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                      <label>Datum odlaska:</label>
                      <div class="input-group">

                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        <input class="form-control" type="date" name="endDate" required="required"   [(ngModel)]="searchFormServices.endDate" #endDate="ngModel" name="endDate" data-placeholder="Check out">
                        <span id="errorEnd"></span>
                      </div>
                    </div>
                    <!-- /.form-group -->
                  </div>


                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>

              <div class="col-xs-12">
                <button type="button" id="pomeri" class="btn btn-primary btn-block" (click)="pretraga()">Pretraga</button>
                <br/>
                <br/>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-11">
            <div class="box">

              <!-- /.box-header -->
              <div class="box-body table-responsive no-padding">
                <table id="lista" class="table table-hover">
                  <thead>
                  <tr>
                    <th>Vozilo</th>
                    <th>Popust od</th>
                    <th>Popust do</th>
                    <th>Cena po danu</th>
                    <th>Popust</th>
                    <th>Cena nakon popusta</th>
                    <th></th>
                  </tr>
                  </thead>

                  <tbody>
                  <tr *ngFor="let c of discounts">
                    <!--  td>{{c.car.name}}</td-->
                    <td>{{c.car.name}}</td>
                    <td>{{c.dateFrom}}</td>
                    <td>{{c.dateTo}}</td>
                    <td>{{c.car.price}}</td>
                    <td>{{c.discountprice}}</td>
                    <td>{{c.car.price - (c.discountprice*c.car.price)/100}}</td>
                    <button class="btn btn-primary" (click)="reserveCar(c.car.id)">Rezervisi</button>
                  </tr>
                  </tbody>

                </table>
              </div>
              <!-- /.box-body -->
            </div>
          </div>
        </div>
		<div class="row">
		<div class="col-xs-11">
       	<div class="box">
 
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table id="lista" class="table table-hover">
              <thead>
               	<tr>
            	<th>Soba</th>
            	<th>Popust od</th>
            	<th>Popust do</th>
            	<th>Cena po danu</th>
            	<th>Popust</th>
            	<th>Cena nakon popusta</th>
            	<th></th>
            	</tr>
       		 </thead>
       		 
       		  <tbody>
                <tr *ngFor="let r of discounts2">
                <!--  td>{{c.car.name}}</td--> 
                <td>{{r.room.number}}</td> 
                <td>{{r.dateFrom}}</td>
                <td>{{r.dateTo}}</td>
                <td>{{r.room.price}}</td>
                <td>{{r.discountprice}}</td>
                <td>{{r.room.price - (r.discountprice*r.room.price)/100}}</td>                
        		<button class="btn btn-primary" (click)="reserveRoom(r.room.id)">Rezervisi</button>
                </tr>
             </tbody>

              </table>
             </div>
            <!-- /.box-body -->
         	 </div>
			</div>
		</div>

        <div class="pull-right">
          <button class="btn btn-outline-primary" matStepperPrevious>Nazad</button>
          <button class="btn btn-outline-primary" matStepperNext>Naprijed</button>
        </div>
      </div>
    </mat-step>


    <mat-step>
      <ng-template matStepLabel>Kraj</ng-template>

      <div *ngIf="flightReservation.passengersOnSeats?.length !== 0">
        <h4>Vasa rezervacija</h4>
        <div *ngFor="let passSeat of flightReservation['passengersOnSeats']">
          <div>
            <div>
              <label class="col-sm-2">Ime:</label>
              <label class="col-sm-3" >{{passSeat.passengerName}}</label>
            </div>
            <div>
              <label class="col-sm-2">Prezime:</label>
              <label class="col-sm-3">{{passSeat.passengerLastName}}</label>
            </div>
            <div>
              <label class="col-sm-2">Pasos:</label>
              <label class="col-sm-3">{{passSeat.passengerPassport}}</label>
            </div>
            <div>
              <label class="col-sm-2">Sjediste:</label>
              <label class="col-sm-6">Klasa: {{passSeat.seat['seatClass']}}, red: {{passSeat.seat['seatRow']}} broj: {{passSeat.seat['seatColumn']}} price: {{passSeat.seat['price']}} </label>
            </div>
          </div>
          <hr>
        </div>


      </div>


      <div>
        <button mat-button matStepperPrevious>Nazad</button>
        <button class="btn btn-primary pull-right" (click)="reserve()">Zavrsi rezervaciju</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>


</div>
  </div>


