<body>
	<header id="fh5co-header-section">
			<div class="container">
				<div class="nav-header">

					<h1 id="fh5co-logo"><a href=""><img src="assets/images/globe.png">  Dream Air</a></h1>
					<!-- START #fh5co-menu-wrap -->
					<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">
							<li class="active"><a href="home">Pocetna</a></li>

              <!--<div class="dropdown">-->
              <li><a href="avioCompany">Avio kompanije</a>
                <ul class="fh5co-sub-menu">
                  <li><a href="addAviocompany">Dodaj avio kompaniju</a></li>
                  <li><a href="#">CSS3 &amp; HTML5</a></li>
                  <li><a href="#">Angular JS</a></li>

                </ul>
              </li>
             
              

							<li><a href="hotels">Hoteli</a></li>
							<li><a href="rentalCars">Rental cars</a></li>
			<li ><span class="hidden-xs" id="settingsButton" [hidden]="systemAdmin"><a href="#">Podesavanje</a></span>
                <ul class="fh5co-sub-menu">
                  <li><a href="#">Dodaj avio kompaniju</a></li>
                  <li><a href="#">Dodaj hotel</a></li>
                  <li><a href="#">Dodaj rent-a-car</a></li>
				  <li><a href="#">Dodaj avio admina</a></li>
				  <li><a href="#">Dodaj hotel admina</a></li>
				  <li><a href="#">Dodaj rent-a-car admina</a></li>
                </ul>
              </li>
							<li><span class ="visible" id="loginButton" [hidden]="logged"><a routerLink="login">Prijavi se</a></span>
						    <span class="hidden-xs" id="logoutButton" (click)="logOutUser()" [hidden]="notLogged" ><a>Odjavi se</a></span>
							</li>
			
						</ul>
					</nav>
				</div>

      </div>
	</header>


<router-outlet>
</router-outlet>



</body>









