<div class="fh5co-hero">
			<div class="fh5co-overlay"></div>
					<div class="container">
					
					
<div class="row">
		<div class="col-xs-11">
       	<div class="box">
 
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table id="lista" class="table table-hover">
              <thead>
               	<tr>
            	<th>Vozilo</th>
            	<th>Popust</th>
            	<th>Od</th>
            	<th>Do</th>
            	<th>Oceni sobu</th>
            	<th>Oceni hotel </th>
            	<th></th>
            	</tr>
       		 </thead>
       		 
       		  <tbody>
                <tr *ngFor="let c of discount">
                <!--  td>{{c.car.name}}</td--> 
                <td>{{c.dateFrom}}</td>
                <td>{{c.dateTo}}</td>
                <td>{{c.discount}}</td> 
                 
                <td><a *ngIf='c.daysLeft >= 3'  (click)="rezervisi(c.car_id)" class="btn btn-outline-danger">Odjavi</a></td>
                </tr>
             </tbody>

              </table>
            </div>
            <!-- /.box-body -->
          </div>
					</div>
				</div>					
					</div>
					</div>
					
