<div class="fh5co-hero">
			<div class="fh5co-overlay"></div>
					<div class="container">


      <div class="box box-default">
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
<div style="margin-top: 30px;">
        <div class="form-group">
              <label>Datum pocetka:</label>
                <div class="input-group">
                		 
	                      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
	                      <input class="form-control" type="date" name="endDate" id="endDate" required="required"  data-placeholder="Check out" [(ngModel)]="rez.startDate">
	                      <span id="errorEnd"></span>
	           </div>
	                         </div>
        <div class="form-group">
              <label>Datum kraja:</label>
                <div class="input-group">
                		 
	                      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
	                      <input class="form-control" type="date" name="endDate" id="endDate" required="required"  data-placeholder="Check out" [(ngModel)]="rez.endDate">
	                      <span id="errorEnd"></span>
	           </div>
	                         </div>
	                         
    <div class="col-xs-6">
        <button type="button" id="pomeri" class="btn btn-primary btn-block" (click)="pretraga()">Pretraga</button>
			<br/>
			<br/>
		</div>	  
      </div>	
      
       </div>
	                         </div>
      </div>	
      </div>				
					
<div class="row">
		<div class="col-xs-11">
       	<div class="box">
 
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table id="lista" class="table table-hover">
              <thead>
               	<tr>
            	<th>Vozilo</th>
            	<th>Popust od</th>
            	<th>Popust do</th>
            	<th>Cena po danu</th>
            	<th>Popust</th>
            	<th>Cena nakon popusta</th>
            	<th></th>
            	</tr>
       		 </thead>
       		 
       		  <tbody>
                <tr *ngFor="let c of discount">
                <!--  td>{{c.car.name}}</td--> 
                <td>{{c.car.name}}</td> 
                <td>{{c.dateFrom}}</td>
                <td>{{c.dateTo}}</td>
                <td>{{c.car.price}}</td>
                <td>{{c.discountprice}}</td>
                <td>{{c.car.price - (c.discountprice*c.car.price)/100}}</td>                
        		<button class="btn btn-primary" (click)="reserve(c.car.id)">Rezervisi</button>
                </tr>
             </tbody>

              </table>
            </div>
            <!-- /.box-body -->
          </div>
					</div>
				</div>					
					</div>
					</div>
					
