<div class="fh5co-hero">
	<div class="fh5co-overlay"></div>
	<div class="fh5co-cover" data-stellar-background-ratio="0.5"
		style="background-image: url(assets/images/car1.jpg);">			
		<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h3>{{currentRentACar.name}}</h3>
						<h3>{{currentRentACar.adress}}</h3>						
						<p>{{currentRentACar.description}}</p>
						<span class="hidden-xs" id="changeButton" [hidden]="nocarAdmin"><a  class="btn btn-primary btn-outline" (click)="changeClick()">Izmeni</a></span>
						<span class="hidden-xs" id="deleteButton" [hidden]="nocarAdmin"><a class="btn btn-primary btn-outline" (click)="deleteClick()" >Obrisi</a></span>
						<br/>
						<br/>
						<span class="hidden-xs" id="addFillButton" [hidden]="nocarAdmin"><a class="btn btn-primary btn-outline"  (click)="addFilClick()">Dodaj filijalu</a></span>
						
					</div>
					
					<!-- div za izmenu -->
					<div class="col-xs-6" id = "changeDiv" hidden="true" >
		              	<div class="box box-primary">
			            <div class="box-header with-border ">
			              <h3 class="box-title">Izmeni servis {{currentRentACar.name}}</h3>
			            </div>
			            <!-- /.box-header -->
			            <div class="box-body no-padding">
			            
			              <div class="form-group">
			                <input type="text" class="form-control" placeholder="Unesite novi naziv.." value='newService.name' [(ngModel)]="newService.name">
			              </div>
			              <div class="form-group">
			                <input type="text" class="form-control" placeholder="Unesite novu adresu.." value='newService.adress' [(ngModel)]="newService.adress" >
			              </div>
			              <div class="form-group">
			                <input type="text" class="form-control" placeholder="Unesite novi opis.." value='newService.description' [(ngModel)]="newService.description" >
			              </div>
			              
			            </div>
			            <!-- /.box-body -->
			            <div class="box-footer">
			              <div class="pull-right">
			                <button type="submit" class="btn btn-primary" (click)="finalChangeClick(newService)" ><i class="fa fa-envelope-o" ></i> Potvrdi</button>
			              	<button type="reset" class="btn btn-default" (click)="discardClick()"><i class="fa fa-times" ></i> Odustani</button>
			              	
			              </div>
			              <br/>
			            </div>
			            <!-- /.box-footer -->
			          </div>
              		</div> 
              		
              		<div class="col-xs-6" id = "addFilDiv" hidden="true">
		              	<div class="box box-primary">
			            <div class="box-header with-border ">
			              <h3 class="box-title">Dodaj novu filijalu u {{currentRentACar.name}} servis</h3>
			            </div>
			            <!-- /.box-header -->
			            <div class="box-body no-padding">
			            
			              <div class="form-group">
			                <input type="text" class="form-control" placeholder="Unesite grad.." value='newFil.grad' [(ngModel)]="newFil.grad">
			              </div>
			              <div class="form-group">
			                <input type="text" class="form-control" placeholder="Unesite drzavu.." value='newFil.drzava' [(ngModel)]="newFil.drzava" >
			              </div>
			              <div class="form-group">
			                <input type="text" class="form-control" placeholder="Unesite adresu.." value='newFil.adresa' [(ngModel)]="newFil.adresa" >
			              </div>
			           
			              
			            </div>
			            <!-- /.box-body -->
			            <div class="box-footer">
			              <div class="pull-right">
			                <button type="submit" class="btn btn-primary" (click)="finalAddFilClick(newFil)" ><i class="fa fa-envelope-o" ></i> Potvrdi</button>
			              	<button type="reset" class="btn btn-default" (click)="discardFilClick()"><i class="fa fa-times" ></i> Odustani</button>
			              	
			              </div>
			              <br/>
			            </div>
			            <!-- /.box-footer -->
			          </div>
              		</div> 
              		
				</div>
				
				<!-- Div za pretragu -->

<div class="row">
	<div class="col-xs-12">

      <!-- SELECT2 EXAMPLE -->
      <div class="box box-default">
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
              <label>Unesite lokaciju preuzimanja vozila:</label>
                  <input  class="form-control" id="pickupPlace" placeholder="Lokacija..." name="pickupPlace" type="text" [(ngModel)]="rez.pickupPlace">
             	  <span id="errorCity"></span>
              </div>
              
              <!-- /.form-group -->
              <div class="form-group">
                <label>Datum pocetka:</label>
                 <div class="input-group">
	                    <span class="input-group-addon"> <i class="glyphicon glyphicon-calendar"></i></span>
	                    <input id="startDate" name="startDate" id="startDate" class="form-control" type="date" required="required" data-placeholder="Check in" [(ngModel)]="rez.startDate">
	                    <span id="errorStart"></span>                    
	            </div>
              </div>
              
            <label>Unesite broj ljudi:</label>
             <div class="form-group">
	                    <input id="numPeople" name= "numPeople" class="form-control" min="1" type="number" required placeholder="Broj ljudi..." [(ngModel)]="rez.numPeople">
	         </div>
	         
	         <label>Cena od:</label>
             <div class="form-group">
	                    <input id="cenaOd" name= "cenOd" class="form-control" min="1" type="number" required placeholder="cenaOd..." [(ngModel)]="cenaOd">
	         </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
            
            <div class="col-md-6">
            
            <div class="form-group">
              <label>Unesite lokaciju vracanja vozila:</label>            
                  <input  class="form-control" id="returnPlace"  placeholder="Lokacija..." name="returnPlace" type="text" [(ngModel)]="rez.returnPlace">
             	  <span id="errorCity"></span>
              </div>
              <div class="form-group">
              <label>Datum kraja:</label>
                <div class="input-group">
                		 
	                      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
	                      <input class="form-control" type="date" name="endDate" id="endDate" required="required"  data-placeholder="Check out" [(ngModel)]="rez.endDate">
	                      <span id="errorEnd"></span>
	           </div>
	                         </div>
	           
	           
	         <label>Kategorija vozila</label>
             <div class="form-group">
                <select class="form-control" name="category" id="category"  [(ngModel)]="rez.category" >
                    <option  *ngFor="let k of kategorije"  value="{{k.mark}}" >{{k.mark}} ({{k.seats}} seats)</option>
                  </select>	         </div>
                  
                  
            <label>Cena do:</label>
             <div class="form-group">
	                    <input id="cenaDo" name= "cenaDo" class="form-control" min="1" type="number" required placeholder="cenaDo..." [(ngModel)]="cenaDo">
	         </div>
           
              <!-- /.form-group -->
              <div class="form-group">
              
              </div>
              <!-- /.form-group -->
            </div>


            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
      
      
	</div>
  </div> 
    <div class="col-xs-12">
        <button type="button" id="pomeri" class="btn btn-primary btn-block" (click)="pretraga()">Pretraga</button>
			<br/>
			<br/>
		</div>
</div>	
				
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h3>Filijale na kojima nas mozete naci</h3>
					</div>
				</div>
				
				<div class="row row-bottom-padded-md" >
					<div *ngFor="let c of fil">
						<div >
							<div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
								<div class="hotel-box">
								<img src="assets/images/box.png"  width="400" height="300">
									<div class="desc">
										<span></span>
										<h3>Filijale: </h3>
										<span>{{c.grad}}</span>
										<span>{{c.drzava}}</span>
										<span>{{c.adresa}}</span>
										<span class="hidden-xs" id="changeButton" [hidden]="nocarAdmin"><a  class="btn btn-primary btn-outline" (click)="onClickCompanyDetails(c)">Prikazi vozila</a></span>
																				
										<!--  a  (click)="onClickCompanyDetails(c)" class="btn btn-primary btn-outline">Prikazi vozila</a-->
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
<section>
    
    <h1>Vozila:</h1>
    
    
    <!-- prikazivanje vozila-->
		<div class="row">
		<div class="col-xs-11">
       	<div class="box">
 
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table id="lista" class="table table-hover">
              <thead>
               	<tr>
            	<th>Broj vozila</th>
            	<th>Naziv</th>
            	<th>Registarska oznaka</th>
            	<th>Prosecna ocena</th>
            	<th>Cena</th>
            	<th>Ukupna cena za {{brojDana}} dana</th>
            	<th>Godina proizvodnje</th>
            	<th></th>
            	<th></th>
            	</tr>
       		 </thead>
       		 
       		 <tbody>
                <tr *ngFor="let c of pronadjenaVozila">
                <td>{{c.id}} </td>                
                <td>{{c.name}}</td> 
                <td>{{c.car_number}}</td>
                <td>{{c.average_rating}}</td> 
                <td>{{c.price}}<b>/</b> 1 dan</td>
                <td>{{c.price*brojDana}}<b>/</b></td>
                <td>{{c.prod_year}}</td>               
                              
                <td><span class="hidden-xs" id="bookCarId"><button type="button"  class="btn btn-outline-primary" (click)="reserve(c)">Book me</button></span></td> 
                </tr>
             </tbody>

              </table>
            </div>
            <!-- /.box-body -->
          </div>
					</div>
				</div>
   
</section>
				
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h4>Sadržaji</h4>
						<p>Pretražite sve dodatne sadrzaje koje Vam nudi "{{currentRentACar.name}}"</p>
					</div>
				</div>

			</div>
		</div>
		</div>