<body>
	<div class="fh5co-hero">
			<div class="fh5co-overlay"></div>             
		
<div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url(assets/images/pic.png);">
  <div class="login-page">
	<div class="form">
   
    <form  class="registration" (submit)="changePassword()" method="POST">
  	  
  	  <h4 class="form-title">Promenite lozinku</h4>
      
      <input type="password" class="form-control"   [(ngModel)]="currentPass" name="currentPass" id="currentPass" placeholder="Trenutna lozinka" [required]="true">
      
      <input type="password" class="form-control"  [(ngModel)]="newPass" name="newPass" id="newPass" placeholder="Nova lozinka" [required]="true">
      
      <input type="password" class="form-control"  [(ngModel)]="confPass" name="confPass" id="confPass" placeholder="Potvrdite novu lozinku" [required]="true" >
     
     <br/>
      
     <button type="submit" id="submit" class="btn btn-primary">Promeni lozinku</button>
    </form>
  </div>
</div>
</div>
</div>  
</body>


