<div class="fh5co-hero">
			<div class="fh5co-overlay"></div>
<div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url(assets/images/pic.png);">

<div class="login-page">

  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form">
      <input type="text" placeholder="Korisničko ime"/>
      <input type="password" placeholder="Lozinka"/>
      <button>Prijava</button>
      <p class="message">Niste registrovani? <a href="registracija">Kreirajte nalog</a></p>
    </form>
  </div>
</div>
</div>
</div>

