<div class="fh5co-hero">
			<div class="fh5co-overlay"></div>
<div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url(assets/images/pic.png);">


<div class="login-page">

  <div class="form">

    <form method="post" (ngSubmit)="login()" class="loginForm">
		
      <div>
			<label for="inputEmail" class="sr-only">Email address</label>
			 <input type="email" [(ngModel)]="user.email" #email="ngModel" name="email" id="mail"  class="form-control inputs" placeholder="Email address" />
		</div>
		<div>
			<label for="inputPassword" class="sr-only">Password</label>
			 <input type="password" [(ngModel)]="user.password" #password="ngModel" name="password" id="password" class="form-control inputs" placeholder="Password" required />
		</div>
		<div class="row">
        <div class="col-xs-8">
		<div class="checkbox icheck">
            <label>
               <div class="alert alert-danger" *ngIf="!password.valid && password.touched"> Password is required! </div>    
               <div class="alert error" [innerHTML]="htmlStr" ></div>
                       </label>
          </div>
          </div>
       
		 <button class="btn btn-lg btn-primary btn-block" type="submit">Prijava</button>
      <p class="message">Niste registrovani? <a href="registracija">Kreirajte nalog</a></p>
      </div>
    </form>
  </div>
</div>
</div>
</div>

