	<div class="fh5co-hero">
		<div class="fh5co-overlay"></div>		
<div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url(assets/images/pic.png);">



      
      <h1>Avio kompanije
      </h1>
   
    <p> kcdsk</p>
    
    
      <div *ngFor="let c of avioArray">
           <p>{{c.name}}</p>
   
            <div class="row">
              <div class="col-md-5">
                  <div class="row">
                      <div class="col"><h3>{{c.name}}</h3></div>
                      <div class="col">
                      </div>
                    </div>
                
                <br>
                <p><b>Address: </b> {{c.adress}}</p>
                <p> <b>Description: </b>{{c.description}}</p>
                
                <br>
                </div>
                </div>
                </div>
               
               
              
                

</div>
</div>