<div class="fh5co-hero">
			<div class="fh5co-overlay"></div>             
		
<div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url(assets/images/pic.png);">
  <div class="login-page">
	<div class="form">
   
      <form  class="registration" (submit)="addFilijale()" method="POST">
		    <input type="text" [(ngModel)] = "fil.grad" #grad= "ngModel" name="grad" class="form-control"  data-validation="required" #grad placeholder = "Grad">
      			<span id="error_name" class="text-danger"></span>
		    <input type="text"[(ngModel)] = "fil.drzava" #drzava= "ngModel" name="drzava" class="form-control"  data-validation="required" #drzava placeholder = "Drzava">
      			<span id="error_address" class="text-danger"></span>
      		<input type="text" height="200" [(ngModel)] = "fil.adresa" #adresa= "ngModel" name="adresa" class="form-control"  data-validation="required" #adresa placeholder = "Adresa">
      			<span id="error_description" class="text-danger"></span>
		    
		    <div class="form-group row" [hidden]="hideError">
		        <div class="col-xs-6">	
		          <div class="alert alert-danger" >
		            <label> {{errorMessage}} </label>
		          </div>
		        </div>
		    </div>
		      
		     <button type="submit" id="submit" class="btn btn-primary">Dodaj</button>
		</form>
   </div>
  </div>
 </div>
</div>
        
  



