<body >

<div class="container" >

  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">

      <form (ngSubmit)=" dodajDestinaciju()"  name="form" #f="ngForm">
        <div class="form-group">
          <label >Grad*</label>
          <!--<div class="col-sm-10">-->
          <input type="text" class="form-control" id="inputName45" placeholder="City" [(ngModel)]="destinationNew.name" name="name"
                 required />
          <!--</div>-->

        </div>

        <!--<div class="container">-->
        <div class="form-group ">
          <label for="inputName41">Drzava*</label>
          <!--<div  class="col-sm-10">-->
          <input type="text" class="form-control" id="inputName41" placeholder="Drzava" [(ngModel)]="destinationNew.country" name="country"
          />

        </div>


        <br />
        <div class="form-group row" align="right">
          <div class="col-sm-10">
            <button type="submit"  class="btn btn-primary">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


</body>
