		<div class="fh5co-hero">
			<div class="fh5co-overlay"></div>
					<div class="container">
						<div class="row">
					     <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
							<h3>{{DOBRODOSLI}}</h3>
							<br/>
							<h2>Istorija rezervacija</h2>
							<span class="hidden-xs" id="changeButton"><a  class="btn btn-primary btn-outline" (click)="avioClick()">Letovi</a></span>
						    <span class="hidden-xs" id="deleteButton"><a class="btn btn-primary btn-outline" (click)="hotelClick()" >Hoteli</a></span>
				            <span class="hidden-xs" id="deleteButton"><a class="btn btn-primary btn-outline" (click)="carClick()" >Vozila</a></span>
							
								
							</div>

<section id = "hotelDiv" hidden="true">
    <!-- div za rezervaciju vozila -->
    
  
    <h1>Hoteli</h1>
    <ul>
                <li> Mozete odjaviti tekuce rezervacije 2 dana pre datuma rezervacije</li>
                <li> Nakon napustanja sobe mozete oceniti sobu i hotel</li>
    </ul>
    
    
    <!-- prikazivanje hotela-->
		<div class="row">
		<div class="col-xs-11">
       	<div class="box">
 
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table id="lista" class="table table-hover">
              <thead>
               	<tr>
               	<th>Hotel</th>
            	<th>Konfiguracija sobe</th>
            	<th>Rezervisano od</th>
            	<th>Rezervisano do</th>
            	<th>Otkazivanje</th>
            	<th>Oceni sobu</th>
            	<th>Oceni hotel </th>
            	<th></th>
            	</tr>
       		 </thead>
       		 
       		 <tbody>
                <tr *ngFor="let c of rezervisaniHoteli">
                <td>{{c.room.hotel.name}}</td>
                <td>{{c.room.capacity}}</td> 
                <td>{{c.startDate}}</td>
                <td>{{c.endDate}}</td> 
                <td><a *ngIf='c.daysLeft >= 3'  (click)="otkaziSobu(c)" class="btn btn-outline-danger">Odjavi</a></td>
                <td>
                   <input [(ngModel)] = "c.room.rate" name="rating" type="number" placeholder="Ocena od 1 do 5"></td>
                <td><a *ngIf='c.rateRoom == true' id="hotel{{c.room.id}}" class="btn btn-outline-danger" id="btnOcenaV" (click)="rateRoom(c.room)">Oceni</a>
                </td> 
                <td>
                   <input [(ngModel)] = "c.room.hotel.rate" name="rating" type="number" placeholder="Ocena od 1 do 5"></td>
                <td><a *ngIf='c.rateHotel == true'  class="btn btn-outline-danger" id="btnOcenaV" (click)="rateHotel(c.room.hotel)">Oceni</a>
                </td>
                </tr>
             </tbody>

              </table>
            </div>
            <!-- /.box-body -->
          </div>
					</div>
				</div>
   
</section>
							
<section id = "carDiv" hidden="true">
    <!-- div za rezervaciju vozila -->
    
    
  
    <h1>Vozila</h1>
    <ul>
                <li> Mozete odjaviti tekuce rezervacije 2 dana pre datuma preuzimanja vozila</li>
                <li> Nakon vracanja vozila mozete oceniti vozilo i servis</li>
    </ul>
    
    <!-- prikazivanje vozila-->
		<div class="row">
		<div class="col-xs-11">
       	<div class="box">
 
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table id="lista" class="table table-hover">
              <thead>
               	<tr>
            	<th>Servis</th>
            	<th>Naziv</th>
            	<th>Rezervisano od</th>
            	<th>Rezervisano do</th>
            	<th>Otkazivanje</th>
            	<th>Oceni vozilo</th>
            	<th>Oceni servis </th>           	

            	<th></th>
            	</tr>
       		 </thead>
       		 
       		 <tbody>
                <tr *ngFor="let c of rezervisanaVozila">
                <td>{{c.car.rentacar.name}}</td>                 
                <td>{{c.car.name}}</td> 
                <td>{{c.startDate}}</td>
                <td>{{c.endDate}}</td> 
                <td><a *ngIf='c.daysLeft >= 2'  (click)="otkazi(c)" class="btn btn-outline-danger">Odjavi</a></td> 
                <td>
                      <input [(ngModel)] = "c.car.rate" name="rating" id="rating" type="number" placeholder="Ocena auta">
                   <a *ngIf='c.rateCar == true' id="c.car.rate" class="btn btn-outline-danger" id="btnOcenaV" (click)="rateCar(c.car)">Oceni</a>
                </td>
                 <td>
                      <input [(ngModel)] = "c.car.rentacar.rate" name="rating" id="rating" type="number" placeholder="Ocena servisa" >
                      <a *ngIf='c.rateService == true' id="service{{c.car.id}}" (click)="rateService(c.car.rentacar)" class="btn btn-outline-danger"
                        id="btnOcenaS">Oceni</a>
                 </td>
                </tr>
             </tbody>

              </table>
            </div>
            <!-- /.box-body -->
          </div>
					</div>
				</div>
   
</section>



<section id = "flightDiv" hidden="true">
    <!-- div za rezervaciju vozila -->
    
    
  
    <h1>Letovi</h1>
    <ul>
                <li> Mozete odjaviti tekuce rezervacije 3 sata pre vremena poletanja aviona</li>
                <li> Nakon sletanja mozete oceniti let i aviokompaniju</li>
    </ul>
    
    <!-- prikazivanje letova-->
		<div class="row">
		<div class="col-xs-11">
       	<div class="box">
 
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table id="lista" class="table table-hover">
              <thead>
               	<tr>
            	<th>Flight</th>
            	<th>Poletanje</th>
            	<th>Destinacija</th>
            	<th>Oceni let</th>
            	<th>Oceni kompaniju </th>           	

            	<th></th>
            	</tr>
       		 </thead>
       		 
       		 <tbody>
                <tr *ngFor="let c of flight">
                <td>{{c.take_off}}</td>                 
                <td>{{c.landing}}</td> 
                <td>{{c.destination.name}}</td>
                <td><a *ngIf='c.hoursLeft >= 3' (click)="otkaziLet(c)" class="btn btn-outline-danger">Otkazi</a></td> 
                <td>
                      <input [(ngModel)] = "c.rate" name="rating" type="number" placeholder="Ocena od 1 do 5"></td>
                <td><a   class="btn btn-outline-danger" id="btnOcenaV" (click)="rateFlight(c)">Oceni</a>
                </td>
                 <td>
                      <input [(ngModel)]="rateAvioNum" id="rateAvio" type="number" placeholder="Ocena od 1 do 5" >
                      <a (click)="rateAvio(c)" class="btn btn-outline-danger"
                        id="btnOcenaS">Oceni</a>
                 </td>
                </tr>
             </tbody>

              </table>
            </div>
            <!-- /.box-body -->
          </div>
					</div>
				</div>
   
</section>

						</div>
					</div>
				</div>
