<div class="fh5co-hero">
	<div class="fh5co-overlay"></div>
	<div class="fh5co-cover" data-stellar-background-ratio="0.5"
		style="background-image: url(assets/images/pic.png);">
	
   <h1 >{{currentCompany.name}}

      </h1>
      
      <table style="width:100%">
  <tr>
    <th>Naziv</th>
    <th>Adresa</th> 
    <th>Opis</th>
  </tr>
  <tr>
    <td>{{currentCompany.name}}</td>
    <td>{{currentCompany.adress}}</td> 
    <td>{{currentCompany.description}}</td>
  </tr>
  </table>

      </div>
      </div>
      