
<html>

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!--<link rel="shortcut icon" href="favicon.ico">-->

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>




<body>
<div id="fh5co-wrapper">
  <div id="fh5co-page">


    <!-- end:header-top -->

    <div class="container" >

      <div class="row">
        <div class="offset-3"></div>
        <div class="col-md-6">

              <form (ngSubmit)=" saveAviocompany()" *ngIf="!appCom.noavioAdmin" name="form" #f="ngForm">
                <div class="form-group">
                  <label >Ime*</label>
                  <!--<div class="col-sm-10">-->
                  <input type="text" class="form-control" id="inputName3" placeholder="Name" [(ngModel)]="currentCompany.name" name="name" #name="ngModel"
                         [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required />
                  <!--</div>-->
                  <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                    <div *ngIf="name.errors.required">Ime aviokompanije je obavezno</div>
                  </div>
                </div>

                <!--<div class="container">-->
                <div class="form-group ">
                  <label for="inputName3">Adresa</label>
                  <!--<div  class="col-sm-10">-->
                  <input type="text" class="form-control" id="inputName4" placeholder="Address" [(ngModel)]="currentCompany.adress" name="address" #name="ngModel"
                         [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required />
                  <!--</div>-->
                  <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                    <div *ngIf="search.required">Polje adresa je obavezno</div>
                  </div>
                </div>

                <!--</div>-->

                <div class="form-group">
                  <label >Opis*</label>
                  <textarea class="form-control" id="descriptionTextarea1" rows="3" [(ngModel)]="currentCompany.description" name="description"
                            #description="ngModel" [ngClass]="{ 'is-invalid': f.submitted && description.invalid }" required ></textarea>
                  <div *ngIf="f.submitted && description.invalid" class="invalid-feedback">
                    <div *ngIf="description.errors.required">Polje opis je obavezno</div>
                  </div>
                </div>

                <br />
                <div class="form-group row" align="right">
                  <div class="col-sm-10">
                    <button type="submit"  class="btn btn-primary">Save</button>
                  </div>
                </div>
              </form>

          <div *ngIf="appCom.noavioAdmin" >
            <div class="form-group row">
              <label for="inputName1" class="col-sm-2 col-form-label">Name</label>
              <div class="col-sm-10">
                <label class="form-control" id="inputName1" name="name">{{currentCompany.name}}</label>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputName2" class="col-sm-2 col-form-label">Address</label>
              <div class="col-sm-10">
                <label  class="form-control" id="inputName2" name="name">{{currentCompany.adress}}</label>
              </div>
            </div>

            <div class="form-group row">
              <label for="inputName3" class="col-sm-2 col-form-label">Description</label>
              <div class="col-sm-10">
                <label class="form-control" id="inputName" name="name">{{currentCompany.description}}</label>
              </div>
            </div>


          </div>
            </div>
          </div>
        </div>



    <div id="fh5co-tours" class="fh5co-section-gray">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
            <h3>Book A Flight</h3>
            <button *ngIf="!appCom.noavioAdmin" (click)="destinacije()" >Dodaj destinacije</button>
            <button *ngIf="!appCom.noavioAdmin" (click)="letovi()">Dodaj let</button>

            <div *ngIf="ifflight">
              <form   name="form" #f="ngForm" style="margin-left: 15%; margin-right: 15%">
              <div class="form-group row">
                <label for="inputFrom3" class="col-sm-2 col-form-label">From</label>
                <div class="col-sm-10">
                  <select id="inputFrom3" class="form-control" [(ngModel)]="destinationss.fromDest"  name="from">
                    <option *ngFor="let dest of currentCompany.destination"
                            [ngValue]="dest">{{dest.name}} ,{{dest.country}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputTo3" class="col-sm-2 col-form-label">To</label>
                <div class="col-sm-10">
                  <select id="inputTo3" class="form-control" [(ngModel)]="destinationss.toDest" name="to">
                    <option *ngFor="let des of currentCompany.destination"
                            [ngValue]="des">{{des.name}} ,{{des.country}} </option>
                  </select>
                </div>
              </div>

                <div class="form-group row">
                  <label class="col-sm-2 col col-form-label" for="dest">Flight changes locations:</label>
                  <div class="col-sm-10">
                  <span class="pull-left col-sm-9" style=" margin-bottom: 20px;">

                    <ng-select id="dest"  class="form-control"
                   [items]="currentCompany.destination"
                   [multiple]="true"
                   name="selectDestination"
                   [closeOnSelect]="false"
                   [searchable]="false"
                   bindLabel="name"
                   bindValue="item"
                   [(ngModel)]="selectedDestinations"
                   (change)="onChange($event)">

                   </ng-select>

                  </span>
                  </div>
                </div>

              <br/>


              <div class="form-group row" id="departure" style="align-items: center">
                <label for="inpDepDate" class="col">Departure</label>
                <div class="col">
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" id="inpDepDate" readonly (click)="d1.toggle()"
                           name="d1" #c1="ngModel" [(ngModel)]="ff.take_off" ngbDatepicker #d1="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary fa-calendar-o" (click)="d1.toggle()" type="button"></button>
                    </div>
                  </div>
                </div>
                <!--<ngb-timepicker [(ngModel)]="departureTime" spinners="false" [meridian]="false" name="depTime"></ngb-timepicker>-->
                <!--<span><input type="time" [(ngModel)]="departureTime" name="departureTime"></span>-->
              </div>
              <hr/>
              <div class="form-group row" id="arrival" style="align-items: center">
                <label for="inpArrDate" class="col">Arrival</label>
                <div class="col">
                  <div class="input-group ">
                    <input class="form-control" placeholder="yyyy-mm-dd" id="inpArrDate"
                           name="d2" #c2="ngModel" [(ngModel)]="ff.landing" ngbDatepicker #d2="ngbDatepicker" readonly (click)="d2.toggle()">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary fa-calendar-times-o" (click)="d2.toggle()" type="button"></button>
                    </div>
                  </div>
                </div>
                <!--<ngb-timepicker [(ngModel)]="arrivalTime" [meridian]="false" name="arrTime"></ngb-timepicker>-->
                <!--<span><input type="time" [(ngModel)]="arrivalTime" name="arrivalTime"></span>-->
              </div>
              <hr/>

              <div class="row">
                <div class="col-sm-5">
                  <div class="form-group">
                    <label for="inputACountry3" class="col-sm-2 col-form-label">Distance[km]</label>
                    <input type="text" pattern="[0-9]+" class="form-control" id="inputACountry3" placeholder="Distance"
                           #distance="ngModel" aria-multiline="true" [(ngModel)]="ff.distance"
                           name="distance" [ngClass]="{ 'is-invalid': f.submitted && distance.invalid }" required>
                    <div *ngIf="f.submitted && distance.invalid" class="invalid-feedback">
                      <div *ngIf="distance.errors.required">Distance is required</div>
                    </div>
                  </div>
                  <!--<div class="form-group">-->
                  <!--<label for="price" class="col-sm-2 col-form-label">Price[€]</label>-->
                  <!--<input type="text" class="form-control" id="price" placeholder="Price"-->
                  <!--aria-multiline="true" [(ngModel)]="flight['price']" name="price">-->
                  <!--</div>-->
                  <div class="form-group">
                    <label for="averageRating" class="col-sm-6 col-form-label xl-inline">Average rating</label>
                    <label id="averageRating" class="form-control">
                      {{ff.averageRating}}
                    </label>
                  </div>
                </div>

                <div class="col-sm-5">
                  <div class="form-group">
                    <label for="inputStreet3" class="col-sm-2 col-form-label">Duration[h]</label>
                    <input type="text" pattern="[0-9]+" class="form-control" id="inputStreet3" placeholder="Duration"
                           aria-multiline="true" [(ngModel)]="ff.time" name="duration" #duration="ngModel"
                           [ngClass]="{ 'is-invalid': f.submitted && duration.invalid }" required>
                    <div *ngIf="f.submitted && duration.invalid" class="invalid-feedback">
                      <div *ngIf="duration.errors.required">Duration is required</div>
                    </div>
                  </div>
                  <!--<div class="form-group">-->
                  <!--<label for="seatArrangement" class="col-sm-6 col-form-label xl-inline">Seat arrangement</label>-->
                  <!--<select id="seatArrangement" class="form-control" [(ngModel)]="flight.seatArrangement" name="seat">-->
                  <!--<option *ngFor="let arr of airplaneSeatArrangements" [ngValue]="arr">{{arr.name}} (rows: {{arr.seatRows}}, columns: {{arr.seatColumns}})</option>-->
                  <!--</select>-->
                  <!--</div>-->

                </div>
              </div>

              <br>
              <div class="form-group row">
                <label for="prices1" class="col-sm-2 col-form-label">Price:</label>
                <div class="col-sm-8" id="prices1">
                  <div class="row">
                    <label for="price11" class="col-sm-4 col-form-label">Economy class</label>
                    <input type="text" pattern="[0-9]+" class="form-control col" id="price11" [(ngModel)]="ff.economyPrice"
                           name="economyPrice" placeholder="Price for economy class"#economyPrice="ngModel" [ngClass]="{ 'is-invalid': f.submitted && economyPrice.invalid }" required>
                    <div *ngIf="f.submitted && economyPrice.invalid" class="invalid-feedback">
                      <div *ngIf="economyPrice.errors.required">Economy price is required</div>
                    </div>
                  </div>
                  <div class="row">
                    <label for="price21" class="col-sm-4 col-form-label">Premium economy class</label>
                    <input type="text" pattern="[0-9]+" class="form-control col" id="price21" [(ngModel)]="ff.premiumEconomyPrice"
                           name="premiumEconomyPrice" placeholder="Price for premium economy class" #premiumEconomyPrice="ngModel" [ngClass]="{ 'is-invalid': f.submitted && premiumEconomyPrice.invalid }" required>
                    <div *ngIf="f.submitted && premiumEconomyPrice.invalid" class="invalid-feedback">
                      <div *ngIf="premiumEconomyPrice.errors.required">Premium economy price is required</div>
                    </div>

                  </div>
                  <div class="row">
                    <label for="price31" class="col-sm-4 col-form-label">Business class</label>
                    <input type="text" pattern="[0-9]+" class="form-control col" id="price31" [(ngModel)]="ff.businessPrice"
                           name="businessPrice" placeholder="Price for business class" #businessPrice="ngModel" [ngClass]="{ 'is-invalid': f.submitted && businessPrice.invalid }" required>
                    <div *ngIf="f.submitted && businessPrice.invalid" class="invalid-feedback">
                      <div *ngIf="businessPrice.errors.required">Business price is required</div>
                    </div>
                  </div>
                  <div class="row">
                    <label for="price41" class="col-sm-4 col-form-label">First class</label>
                    <input type="text" pattern="[0-9]+" class="form-control col" id="price41" [(ngModel)]="ff.firstPrice"
                           name="firstPrice" placeholder="Price for first class" #firstPrice="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstPrice.invalid }" required>
                    <div *ngIf="f.submitted && firstPrice.invalid" class="invalid-feedback">
                      <div *ngIf="firstPrice.errors.required">First class price is required</div>
                    </div>
                  </div>

                </div>
              </div>
              <br>

              <div class="form-group row">
                <label for="baggageDescriptionTextArea">Baggage description</label>
                <textarea class="form-control" id="baggageDescriptionTextArea" rows="3" [(ngModel)]="ff.baggageDescription"
                          name="baggageDescription"></textarea>
              </div>




              <br/><br/>
                <button type="submit" *ngIf="update" class="btn btn-primary pull-right" (click)="updateFlight()" style="margin-top: 10%; margin-bottom: 10%">Save</button>

                <button type="submit" *ngIf="add" class="btn btn-primary pull-right" (click)="saveFlight()" style="margin-top: 10%; margin-bottom: 10%">Save</button>
              </form>




            </div>
          <div *ngIf="addDestination">
            <form (ngSubmit)=" dodajDestinaciju()"  name="form" #f="ngForm">
              <div class="form-group">
                <label >Grad*</label>
                <!--<div class="col-sm-10">-->
                <input type="text" class="form-control" id="inputName45" placeholder="City" [(ngModel)]="destinationNew.name" name="name"
                       required />
                <!--</div>-->

              </div>

              <!--<div class="container">-->
              <div class="form-group ">
                <label for="inputName41">Drzava*</label>
                <!--<div  class="col-sm-10">-->
                <input type="text" class="form-control" id="inputName41" placeholder="Drzava" [(ngModel)]="destinationNew.country" name="country"
                />

              </div>

              <div class="form-group ">
                <label for="inputName41">Opis (form,to)*</label>
                <!--<div  class="col-sm-10">-->
                <input type="text" class="form-control" id="inputName41" placeholder="Drzava" [(ngModel)]="destinationNew.description" name="country"
                />

              </div>


              <br />
              <div class="form-group row" align="right">
                <div class="col-sm-10">
                  <button type="submit"  class="btn btn-primary">Save</button>
                </div>
              </div>
            </form>


          </div>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>

          </div>
        </div>


        <div class="row row-bottom-padded-md">
          <div class="col-md-12 animate-box">
            <h2 class="heading-title">Todays Flight Deal</h2>
          </div>
          <div class="col-md-6 animate-box">
            <div class="row">
              <div class="col-md-12">
                <h4>Better Deals, More Abilities</h4>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              </div>
              <div class="col-md-12">
                <h4>Keep up with the news of your airline</h4>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              </div>
              <div class="col-md-12">
                <h4>In-Flight Experience</h4>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 animate-box">
          <h4>Destinacije na kojima poslujemo</h4>
            <div *ngFor="let dest of currentCompany.destination ">
            <a class="flight-book">
              <div class="plane-name">
                <span class="p-flight">Grad: {{dest.name}}</span>
              </div>

              <div class="desc">
                <div class="left">
                 <button  *ngIf="!appCom.noavioAdmin" (click)="deleteDestination(dest)">Izbrisi</button>

                </div>
                <div class="right">
									<span class="price">
										<i class="icon-arrow-down22"></i>
										{{dest.country}}
									</span>
                </div>
              </div>

            </a>
            </div>

          </div>
        </div>

        <div class="list-group">
          <div *ngFor="let flight of currentCompany.flight; index as i "
               class="list-group-item list-group-item-action flex-column align-items-start">
            <div *ngFor="let seat of flight.seats">
              <div *ngIf="seat.state === 'reserved'">
                <!--<span class="mb-1 pull-right"><a (click)="deleteFlight(flight, i)" *ngIf="userRole === 'ROLE_ADMIN_AIRLINE' && user.inChargeOf === airline.id"><img src="https://img.icons8.com/carbon-copy/100/000000/delete.png" width="30" height="30"></a></span>-->
                <div class="w-100 justify-content-between">
                  <!--(click)="flightProfile(flight)"-->
                  <!-- <span class="glyphicon glyphicon-plane"></span>-->
                  <div class="d-flex-row">
                    <h5 class="col-sm-8"> From: {{flight.destination[0].name}} {{flight.destination[0].country}}</h5>
                    <h5 class="col-sm-8"> To: {{flight.destination[1].name}} {{flight.destination[1].country}} </h5>
                  </div>
                  <div class="flex-row">
                    <label class="col-sm-4">Departure: {{flight['take_off'] | date:'MM/dd/yyyy hh:mm'}}</label><label class="col-sm-4">Arrival: {{flight['landing'] | date:'MM/dd/yyyy hh:mm'}}</label>
                    <!--<span class="mb-1 pull-right"><a (click)="deleteFlight(flight, i)"><img src="https://img.icons8.com/carbon-copy/100/000000/delete.png" width="30" height="30"></a></span>-->
                  </div>
                  <div class="flex-row"><label class="col-sm-4">Seat row: {{seat['seatRow']}}, column: {{seat['seatColumn']}}</label></div>
                  <div class="flex-row"><label class="col-sm-4">Seat class: {{seat['seatClass']}}</label></div>
                  <div class="flex-row">
                    <label class="col-sm-4"><b>Price: {{seat['discountPrice']}}€</b></label><label class="col-sm-4">Old price: {{seat['price']}}€</label>
                  </div>

                  <div class="form-group" *ngIf="appCom.noavioAdmin">
                    <label for="passport" class="col-sm-3">Passport</label>
                    <input id="passport" name="passport" type="text" [(ngModel)]="seat['passport']" class="col-sm-3" placeholder="Insert your passport number">
                    <button class="btn btn-outline-primary pull-right" (click)="reserve(flight, seat)" >Reserve</button>
                  </div>


                  <!-- <h5 class="mb-1">From:{{flight['from']['city']}}, {{flight['from']['country']}}</h5>
                   <h5 class="mb-1">To:{{flight['to']['city']}}, {{flight['to']['country']}}</h5>-->
                  <!--<small>3 days ago</small>-->

                </div>
                <hr>
                <br>
              </div>
            </div>


            <!-- <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
             <small>Donec id elit non mi porta.</small>-->
          </div>
        </div>


        <div class="row row-bottom-padded-md col-md-offset-2">
          <div *ngFor="let a of currentCompany.flight">
            <span></span>
            <div>
            <div class="row-md-2 row-sm-2 fh5co-tours animate-box"
                 data-animate-effect="fadeIn">
              <div href="profil">
                <img src="assets/images/box.png"  width="350" height="300">

                <div class="desc">
                  <span></span>
                  <h3>{{a.take_off.split('T')[0]}}</h3>
                  <h3>{{a.time}}</h3>
                  <span>{{a.landing.split('T')[0]}}</span> <a
                  	class="btn btn-primary btn-outline" (click)="flightProfile(a)">Detaljnije <i
                  class="icon-arrow-right22"></i></a>

                  <a (click)="deleteFlight(a)"
                     *ngIf="!appCom.noavioAdmin" class="btn btn-primary btn-outline" >Izbrisi <i
                    class="icon-arrow-right22"></i></a>

                  <a (click)="updateF(a)"  *ngIf="!appCom.noavioAdmin"
                     class="btn btn-primary btn-outline" >Uredi <i
                    class="icon-arrow-right22"></i></a>
                </div>
              </div>
            </div>

        </div>
        </div>
        </div>
      </div>
    </div>
    <div id="fh5co-testimonial" style="background-image:url(images/img_bg_1.jpg);">
      <div class="container">
        <div class="row animate-box">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
            <h2>Happy Clients</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="box-testimony animate-box">
              <blockquote>
                <span class="quote"><span><i class="icon-quotes-right"></i></span></span>
                <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
              </blockquote>
              <p class="author">John Doe, CEO <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> <span class="subtext">Creative Director</span></p>
            </div>

          </div>
          <div class="col-md-4">
            <div class="box-testimony animate-box">
              <blockquote>
                <span class="quote"><span><i class="icon-quotes-right"></i></span></span>
                <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.&rdquo;</p>
              </blockquote>
              <p class="author">John Doe, CEO <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> <span class="subtext">Creative Director</span></p>
            </div>


          </div>
          <div class="col-md-4">
            <div class="box-testimony animate-box">
              <blockquote>
                <span class="quote"><span><i class="icon-quotes-right"></i></span></span>
                <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
              </blockquote>
              <p class="author">John Doe, Founder <a href="#">FREEHTML5.co</a> <span class="subtext">Creative Director</span></p>
            </div>

          </div>
        </div>
      <div class="row">
			<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
			<h4>Pronadji nas na mapi</h4>
			<div class="mapouter"><div class="gmap_canvas"><iframe  webkitallowfullscreen mozallowfullscreen allowfullscreen  id="gmap_canvas" [src]='sanitizer.bypassSecurityTrustResourceUrl(finalna)' frameborder="0"  scrolling="no" marginheight="0" height="500px" width="100%" marginwidth="0"></iframe><a href="https://www.pureblack.de"></a></div><style>.mapouter{text-align:right;height:500px;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;}</style></div>
			
			</div>
           </div>
      </div>
      
      
    </div>



  </div>
  <!-- END fh5co-page -->

</div>
<!-- END fh5co-wrapper -->

<!-- jQuery -->




</body>
</html>

